coloredlogs
sqlalchemy
fastapi
bcrypt
python-jose
pandas
uvicorn
gunicorn
PyYAML
httpx
requests
alembic
pytesseract
pydantic-ai
certifi
python-certifi-win32
dotenv
langchain_core
langchain_openai
openai
dateparser
celery
redis
pytz==2024.2
reportlab
extract-msg
# Windows: WinRAR or 7-Zip must be installed // linux unrar must be installed
rarfile
pydantic-ai-slim[mcp]
asyncpg
logfire[asyncpg]
logfire[requests]
ldap3
msal
python3-saml
