name: Asciidoctor Build Handbook en

on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'
        type: choice
        options:
          - info
          - warning
          - debug
      tags:
        description: 'Test scenario tags'
        required: false
        type: boolean
      environment:
        description: 'Environment to run tests against'
        type: environment
        required: false

env:
  REVISION: 1.3.1

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: asciidoctor/docker-asciidoctor:latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        
      - name: List files to check if user_manuals/en/index.adoc exists
        run: ls -l user_manuals/en/

      - name: Run asciidoctor on index.adoc
        run: asciidoctor user_manuals/en/index.adoc
            
  pages:
    runs-on: ubuntu-latest
    container:
      image: asciidoctor/docker-asciidoctor:latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build HTML and PDF docs
        run: |
          asciidoctor -a revnumber=$REVISION \
            -D user_manuals/en/ \
            -o Handbuch_EN_${REVISION}.html \
            user_manuals/en/index.adoc
          asciidoctor-pdf -a revnumber=$REVISION \
          -D user_manuals/en/ \
          -a pdf-theme=ARC -a pdf-themesdir=user_manuals/themes \
          -o Handbuch_EN_${REVISION}.pdf user_manuals/en/index.adoc

          echo "REVISION is: $REVISION"
          ls -l user_manuals/en/

      - name: Upload documentation artifact
        uses: actions/upload-artifact@v4
        with:
          name: Handbuch_EN
          path: |
            user_manuals/en/Handbuch_EN_*.pdf
            user_manuals/en/Handbuch_EN_*.html
          
