name: Export DE IT_REQUIREMENTS adoc to PDF & DOCX

on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'
        type: choice
        options:
          - info
          - warning
          - debug
      pdfTheme:
        description: 'Asciidoctor PDF Theme'
        required: true
        default: 'CGS'
        type: choice
        options:
          - CGS
          - ARC
      outputType:
        description: 'Asciidoctor Output type'
        required: true
        default: '0'
        type: choice
        options:
          - 0
          - 1
      version:
        description: 'Asciidoctor PDF Version'
        required: true
        default: '1.3.0'
        type: string
        
 env:
  FILENAME: 'it-requirement-extract'
  FILEPATH: 'it_manual/de'

jobs:
  convert:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Pandoc
        run: sudo apt-get update && sudo apt-get install -y pandoc wkhtmltopdf

      - name: Convert Markdown to HTML with style
        run: |
          pandoc ${{ env.FILEPATH }}/${FILENAME}.doc \
          -o ${{ env.FILEPATH }}/${FILENAME}.html \
          --css=export-styles/style.css \
          --standalone --embed-resources

      - name: Convert HTML to PDF
        run: |
          wkhtmltopdf --margin-top 30mm --margin-bottom 20mm --margin-left 20mm --margin-right 20mm \
          ${{ env.FILEPATH }}/${FILENAME}.html \
          ${{ env.FILEPATH }}/${FILENAME}.pdf

      - name: Convert Markdown to DOCX
        run: |
          pandoc ${FILENAME}.md -o ${FILENAME}.docx
          # Optional: Mit Referenzdatei, z.B.
          # pandoc ${{ env.FILEPATH }}/${FILENAME}.adoc \
          -o ${{ env.FILEPATH }}/${FILENAME}.docx \
          --reference-doc=export-styles/template.docx

      - name: Upload PDF & DOCX as artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.FILENAME }}
          path: |
            ${{ env.FILEPATH }}/${{ env.FILENAME }}.pdf
            ${{ env.FILEPATH }}/${{ env.FILENAME }}.docx
