name: Asciidoctor Build Handbook de

on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'
        type: choice
        options:
          - info
          - warning
          - debug
      tags:
        description: 'Test scenario tags'
        required: false
        type: boolean
      environment:
        description: 'Environment to run tests against'
        type: environment
        required: false

env:
  REVISION: 1.3.1

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: asciidoctor/docker-asciidoctor:latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        
      - name: List files to check if user_manuals/de/index.adoc exists
        run: ls -l user_manuals/de/

      - name: Run asciidoctor on index.adoc
        run: asciidoctor user_manuals/de/index.adoc
            
  pages:
    runs-on: ubuntu-latest
    container:
      image: asciidoctor/docker-asciidoctor:latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build HTML and PDF docs
        run: |
          asciidoctor -a revnumber=$REVISION \
            -D user_manuals/de/ \
            -o Handbuch_DE_${REVISION}.html \
            user_manuals/de/index.adoc
          asciidoctor-pdf -a revnumber=$REVISION \
          -D user_manuals/de/ \
          -a pdf-theme=CGS -a pdf-themesdir=user_manuals/themes \
          -o Handbuch_DE_${REVISION}.pdf user_manuals/de/index.adoc

          echo "REVISION is: $REVISION"
          ls -l user_manuals/de/

      - name: Upload documentation artifact
        uses: actions/upload-artifact@v4
        with:
          name: Handbuch_DE
          path: |
            user_manuals/de/Handbuch_DE_*.pdf
            user_manuals/de/Handbuch_DE_*.html
